.env
*.DS_Store
*__pycache__
.env
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.egg-info/
dist/
build/
*.egg
*.log
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.egg-info/
*.pytest_cache/
*.mypy_cache/
*.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.pyre_configuration/
.pytype/
.pyre_configuration.local/
airflow/logs/
airflow/config/
airflow/data/
db/backups/
superset/superset_config.py
greate_expectations/uncommitted/validations